div#widget_shopping_cart{
	width: 100%;
}

div#widget_shopping_cart > form > div#widget_contents{
	width: 100%;
	padding: 0;
	margin: 0px 15px 0px 15px;
	clear: both;
}

div#widget_shopping_cart > form > div#widget_contents > div#widget_header_qty{
	width: 20%;
	height: 25px;
	font: normal normal bold 12px/25px Arial, Helvetica, sans-serif;
	display: inline-block;
	float: left;
}

div#widget_shopping_cart > form > div#widget_contents > div#widget_header_name{
	width: 80%;
	height: 25px;
	font: normal normal bold 12px/25px Arial, Helvetica, sans-serif;
	display: inline-block;
	float: left;
}

div#widget_shopping_cart > form > div#widget_contents > ul#widget_cart_list{
	list-style: none;
	padding: 0;
	margin: 0;
	clear: both;
}

div#widget_shopping_cart > form > div#widget_contents > ul#widget_cart_list > li.widget_cart_items{
	width: 100%;
	height: 30px;
	padding: 0;
	margin: 5px 0px 5px 0px;
	display: block;
}

div#widget_shopping_cart > form > div#widget_contents > ul#widget_cart_list > li.widget_cart_items > div.widget_cart_item_qty{
	width: 20%;
	height: 25px;
	font: normal normal normal 12px/25px Arial, Helvetica, sans-serif;
	display: inline-block;
	float: left;
}

div#widget_shopping_cart > form > div#widget_contents > ul#widget_cart_list > li.widget_cart_items > div.widget_cart_item_qty > .widget_input_qty{
	width: 50%;
}

div#widget_shopping_cart > form > div#widget_contents > ul#widget_cart_list > li.widget_cart_items > div.widget_cart_item_name{
	width: 80%;
	height: 30px;
	font: normal normal normal 12px/34px Arial, Helvetica, sans-serif;
	display: inline-block;
	float: left;
}

div#widget_shopping_cart > form > div#widget_cart_controls{
	width: 100%;
	padding: 0;
	margin: 0px 15px 0px 15px;
	clear: both;
}

div#widget_shopping_cart > form > div#widget_cart_controls > a#widget_button_details{
	display: inline-block;
}

div#widget_shopping_cart > form > div#widget_cart_controls > input['submit']#widget_button_update{
	display: inline-block;
}